html,
body {
  height: 100%;
  margin: 0;
}
h1 {
  margin: 0;
  padding: 5px;
  font-size: 16px;
}
nav {
  height: 100%;
  background-color: rgb(71 85 105);
  color: white;
  width: 20%;
}
button {
  border: 0;
  background-color: transparent;
  padding: 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
header {
  height: 10%;
}

.main {
  display: flex;
  height: 100%;
}
.list img {
  width: 10px;
  height: 10px;
  margin: 0;
}
.list li {
  margin: 0 0 5px 5px;
}

.list li p {
  margin-left: 4px;
  font-size: 0.5rem;
}

.list button {
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
}
.child {
  width: 80%;
}

.bgGray {
  background-color: #e0e0e0;
  height: 90%;
}
section {
  margin-bottom: 10px;
}
section div {
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 3px;
}
#fstDiv {
  height: 100px;
  padding: 10px 20px;
}

#fstDiv div {
  height: 100%;
}

#secDiv {
  display: flex;
  gap: 10px;
}
