.Editor {
  height: 100%;
  text-align: center;
  overflow: auto;
}

.Editor-btn {
  margin: 5px 0;
  width: 50px;
  height: 30px;
  border-radius: 5px;
  color: white;
  background-color: cornflowerblue;
}

#editorjs {
  margin: 0 10px;
  border: 3px solid snow;
  border-radius: 5px;
}
